<h1 class="text-center" >Welcome to DISCO!</h1>

<a href="/songs"><img width="560" class="center-block" src="https://openclipart.org/image/2400px/svg_to_png/191143/1392845552.png" class="img-responsive" alt="Responsive image"></a>

<h2 class="text-center">Let's find some fresh tracks...</h2>
